.popup_visible #popuplogin, .popup_visible #popupregister {
	transform: scale(1.0);
	-o-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
}

#popuplogin, #popupregister {
	display:none;
	background-color: #F5F5F5;
	padding:15px 19px;
	border-radius:8px;
	box-shadow: 0 0 15px #555 !important;
	text-align:center;
	max-width:340px;
	transform: scale(0.4);
	-o-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-webkit-transform: scale(0.4);
}

#popuplogin .head, #popupregister .head{
	font-size: 16px !important;
	font-weight:400 !important;
	background:#eee;
	background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    color:#666;
    margin:-18px -19px 20px;
    padding:13px 19px 15px;
    border-bottom:solid 1px #d2d2d2;
    text-shadow: 1px 1px 0 #f8f8f8;
    font-family:Verdana;
    border-radius:8px 8px 0 0;
}

#popuplogin .head .close, #popupregister .head .close{
	position:absolute;
	top:12px;
	right:14px;
	opacity: 1.0;
	cursor:pointer;
	padding:5px;
	border-radius:4px;
}

#popuplogin .head .close:hover, #popupregister .head .close:hover{
	background:#dedede;
	box-shadow:inset 0 1px 1px #777, inset 0 -1px 1px #fff;;
}

#popuplogin .label, #popupregister .label{
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	font-weight:400;
	color:#666;
	min-width:100px;
}

#popuplogin_form > div, #popupregister_form > div{
	text-align:center;
}

#popuplogin_form > div + div, #popupregister_form > div + div{
	margin:15px 0 0;
}

#popuplogin_form .result, #popupregister_form .result{
	max-width:220px;
}

#popuplogin .result div, #popupregister .result div{
	font-size:11px;
	text-align:center;
	margin: 10px 0 -5px;
	color:#f00;
}

#popuplogin input[type='text'], input[type='password'], #popupregister input[type='text'], input[type='password']  {
	width:200px;
	box-sizing:border-box;
	border:solid 1px #ccc;
	padding:4px 10px;
	border-radius:4px;
	background:#fff !important;
	box-shadow: inset 1px 1px 2px #e2e2e2;
}

#popuplogin .but, #popupregister .but{
	margin: 19px 0 5px;
	text-align:center;
}

#popuplogin .btn, #popupregister .btn {
	padding:3px 14px 5px;
}

#popuplogin .forgotten, #popupregister .forgotten{
	margin:12px 0 0;
	text-align:center;
	color:#999;
}

#popuplogin .forgotten a, #popupregister .forgotten a {
	padding:0 8px 0 0;
	font-size:11px;
}

#popuplogin .forgotten a + a{
	margin:0 0 0 8px;
	padding:0 !important;
}
